---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('pages', 'videos');
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description} currentPage="videos">
  <div class="container">
    <Content />
  </div>
</BaseLayout>
